**/.DS_Store
etc
temp
.history
.lh
*.
**/*.log
*.node

qwik-app/
/server/
/starters/**/server/
/packages/*/server/
!/packages/qwik/server/
/packages/*/src/styled-system/
todo-express/
target
!/packages/docs/src/routes/demo/events/target
src/napi/package-*

node_modules

tsc-out
dist
tmp
dist-dev
external
lib
tsdoc-metadata.json
packages/qwik/bindings

.idea
.eslintcache
test-results
.direnv

.yarn/*
!.yarn/releases
.pnpm-store/*

.netlify
sandbox
.env

CHANGELOG.md
/CHANGELOG.md